.container {
  width: 100dvw;
  height: 100dvh; 
  display: grid;
  grid-template-columns: 1fr 250px 1fr; 
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info empty picture" "graph empty accomps";
}
.gohan-container h1 {
  font-size: 3rem;
}
.gohan-container h2 {
  font-size: 2rem;
  text-align: center;
}
.gohan-container p, li {
  font-size: 1.3rem;
}
.gohan-container li {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.info {
  grid-area: info;

}
.picture{
  grid-area: picture;
}
.graph {
  grid-area: graph;
}
.accomps {
  grid-area: accomps;
}
